@{
    ViewBag.Title = "Информация о нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body>
    <div>
        <p>Наша деятельность сосредоточенна на продаже книг на русском языке.</p>
        <p>В магазине будет представлен большой ассортимент художественной, исторической, документальной, детской и другой литературы.</p>
        <p>Благодаря тесному сотрудничеству с крупнейшими поставщиками Санкт-Петербурга, книжные новинки поступают к нам одними из первых в Таллинне.</p>
        <p>Наш ассортимент пополняется еженедельно.</p>
    </div>
</body>
