@{
    ViewBag.Title = "Наши контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body>
    <div>
        <p>Имя и фамилия основателя: Egor Oleynik.</p>
        <p>Находимся по адресу : Narva, Puskini 45</p>
        <p>Наша почта : book.magazin@list.ru </p>
        <p>Мобильный телефон : 1337</p>
    </div>
</body>